.container {
    /* background-color: aqua; */
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

    background: rgb(149, 68, 233);
    background: linear-gradient(40deg, rgba(149, 68, 233, 0.48923319327731096) 22%, rgba(68, 225, 233, 0.22032563025210083) 75%);
}

.container-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    background-color: white;
    box-shadow: 15px 5px 10px #48529944;

}

.cajaLogin {
    width: 100%;
}