<div class="container-mntclientes">

    <div
        style="display: flex; justify-content: space-between; border: 1px solid gainsboro; border-radius: 5px; padding: 5px; margin-bottom: 5px;">

        <div style="display: flex; gap: 5px; align-items: center;">
            <mat-icon>conveyor_belt</mat-icon>
            <label><strong>Registro de Proveedores</strong></label>
        </div>

        <!-- <div style="display: flex; gap: 5px;">
          <label><strong>Fecha: </strong></label>
          <div>
            {{fechaHoy | date:'dd/MM/yyyy'}}
          </div>
        </div> -->




    </div>

    <div class="section-controls-mnt-cliente">
        <div style="display: flex; gap: 5px;">
            <mat-form-field appearance="outline">
                <mat-label>Buscar Proveedor</mat-label>
                <input matInput [formControl]="filterControl" placeholder="Buscar">
            </mat-form-field>
            <button mat-fab (click)="limpiaFiltro()" [disabled]="!bolFiltro">
                <mat-icon>filter_alt_off</mat-icon>
            </button>
        </div>

        <button mat-fab extended (click)="nuevoSupplier()">
            <mat-icon>person_add</mat-icon>
            Nuevo Proveedor
        </button>


        <mat-paginator [length]="totalClientes" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]">
        </mat-paginator>

    </div>



    <div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Editar </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab (click)="editSupplier(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Razon Social </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="ruc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ruc </th>
                <td mat-cell *matCellDef="let element">{{element.ruc}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">

                    @switch (element.status) {
                    @case ('A') {
                    <span style="color: green;">A</span>
                    }
                    @case ('I') {
                    <span style="color: red;">I</span>
                    }
                    @default {
                    <span style="color: red;">I</span>
                    }
                    }


                </td>
            </ng-container>

            <ng-container matColumnDef="contactName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contacto </th>
                <td mat-cell *matCellDef="let element"> {{element.contactName}} / {{element.contactPhone}}</td>
            </ng-container>

            <ng-container matColumnDef="contactPhone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono Contacto </th>
                <td mat-cell *matCellDef="let element"> {{element.contactPhone}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="cabecera"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>




</div>