<div class="container-cierre">
    <div>
        <h2 style="margin: 0;">Informacion de Caja</h2>
    </div>

    <div style="display: flex;gap: 20px;">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Datos</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Fecha</th>
                        <td> @if(!loadingInfo) {
                            {{dataCaja.fechaCaja | date:'dd/MM/yyyy hh:mm:ss' }}
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Estado</th>
                        <td>
                            @if(!loadingInfo){
                            @if(dataCaja.estadoCaja == 'A'){
                            <span style="color: green;">ABIERTO</span>
                            }@else{
                            <span style="color: red;">CERRADO</span>
                            }
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Reg. Apertura</th>
                        <td>
                            @if(!loadingInfo){
                            {{dataCaja.fechaHoraApertura | date:'dd/MM/yyyy hh:mm:ss'}}
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Reg. Cierre</th>
                        <td>
                            @if(!loadingInfo){
                            {{dataCaja.fechaHoraCierre | date:'dd/MM/yyyy hh:mm:ss'}}
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Usuario</th>
                        <td>
                            @if(!loadingInfo){
                            {{dataLogin.userName}}
                            }
                        </td>
                    </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>Caja</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Inicial</th>
                        <td>{{saldoInicial | number:'1.2-2'}}</td>
                    </tr>
                    <tr>
                        <th>Ingresos</th>
                        <td>{{totalIng | number:'1.2-2'}}</td>
                    </tr>
                    <tr>
                        <th>Salidas</th>
                        <td>{{totalSal | number:'1.2-2'}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Final</th>
                        <td>{{totalFinal | number:'1.2-2'}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="container-botones">

            <mat-form-field appearance="outline">
                <mat-label>Observaciones de Cierre</mat-label>
                <textarea matInput placeholder="" [(ngModel)]="obserCierre"></textarea>
            </mat-form-field>


            @if(loading){
            <button mat-fab extended>
                <div style="display: flex; gap: 5px;">
                    <app-loading></app-loading>
                    Cerrando caja...
                </div>
            </button>
            }@else {
            <button mat-fab extended (click)="cerrarCaja()">
                <mat-icon>lock</mat-icon>
                Cerrar Caja
            </button>
            }
            <div>
                <hr>
            </div>
            <button mat-fab extended disabled>
                <mat-icon>print</mat-icon>
                Imprimir
            </button>
        </div>

    </div>
    <div>
        <hr>
    </div>
    <div>
        <h2 style="margin: 0;">Resumen de Cobranza por Tipo</h2>
    </div>

    <div style="display: flex;gap: 20px;">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Tarjeta</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Visa</th>
                        <td>{{totalTA | number:'1.2-2'}}</td>
                    </tr>
                    <tr>
                        <th>MasterCard</th>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <th>Amex</th>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <th>Diner</th>
                        <td>0.00</td>
                    </tr>

                </tbody>

                <tfoot>
                    <tr>
                        <th>Total</th>
                        <td>{{totalTA | number:'1.2-2'}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>QR</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Yape</th>
                        <td>{{totalQR | number:'1.2-2'}}</td>
                    </tr>
                    <tr>
                        <th>Plin</th>
                        <td>0.00</td>
                    </tr>
                    <tr>
                        <th>POS</th>
                        <td>0.00</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total</th>
                        <td>{{totalQR | number:'1.2-2'}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>


        <div>
            <table>
                <thead>
                    <tr>
                        <th>Efectivo</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Inicial</th>
                        <td>{{saldoInicial | number:'1.2-2'}}</td>
                    </tr>
                    <tr>
                        <th>Ingresos</th>
                        <td>{{totalEF | number:'1.2-2'}}</td>
                    </tr>
                    <tr>
                        <th>Salidas</th>
                        <td>{{( totalSal *-1) | number:'1.2-2'}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total </th>
                        <td>{{totalFinalEF | number:'1.2-2'}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>



    </div>

    <div>
        <hr>
    </div>
    <div>
        <h2 style="margin: 0;">Gastos</h2>
    </div>

    <div style="display: flex;gap: 20px; flex-direction: column;">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Gastos</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total</th>
                        <td>{{totalSal | number:'1.2-2'}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Autoriza</th>
                        <th>Detalle</th>
                        <th>Importe</th>
                    </tr>
                </thead>
                <tbody>
                    @for (gasto of dataGastos; track gasto.id; ) {
                    <tr>
                        <td>{{gasto.personalAutoriza}}</td>
                        <td>{{gasto.detallesEgreso}}</td>
                        <td>{{gasto.importe | number:'1.2-2'}}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


</div>