.container-invoice {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    /* background-color: pink; */
}

.section-controls-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* justify-content: space-between; */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.section-controls-botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;    
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
.section-detalles{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}