<div class="container-caja">
    <h2>
        <mat-icon>point_of_sale</mat-icon>
        Caja de Ventas
    </h2>
    <hr>

    <div style="width: 100%;">
        <mat-tab-group [selectedIndex]="indexTabLocal" animationDuration="0ms">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">open_in_browser</mat-icon>
                    Apertura
                </ng-template>
                <app-caja-apertura [dataCaja]="cajaTmp" [dataLogin]="loginTmp"></app-caja-apertura>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">dynamic_feed</mat-icon>
                    Movimientos
                </ng-template>
                <app-caja-movimientos [movimientosData]="listsItemsTmp" [userIdData]="loginTmp.userId"
                    (cargarData)="cargarMovimientos($event)"></app-caja-movimientos>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">blinds_closed</mat-icon>
                    Arqueo y Cierre
                </ng-template>
                <app-caja-cierre [dataCaja]="cajaTmp" [dataLogin]="loginTmp" [dataTotalizado]="totalizadoData"
                    [dataGastos]="listGastosTmp">
                </app-caja-cierre>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>