<div style="display: flex;">
    <div>
        <h2>Detalle de : {{tipoPago}}</h2>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Comprobante</th>            
            <th>Cliente</th>
            <th>Adelanto</th>
            <th>Importe</th>            
        </tr>
    </thead>
    <tbody>
        @for (item of dataSource; track item.customerId; let idx = $index) {
        <tr>
            <td>{{ idx + 1 }}</td>
            <td>{{ item.serie }} - {{ item.numero }}</td>
            <td>{{ item.cliente }}</td>
            <td style="text-align: right;">{{ item.adelanto | number:'1.2-2'}}</td>
            <td style="text-align: right;">{{ item.importe | number:'1.2-2'}}</td>            
        </tr>

        } @empty {
        <p>No hay Datos.</p>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" style="text-align: right;">Total</td>
            <td style="text-align: right;font-weight: bold;">{{ getTotalAdelanto() | number:'1.2-2'}}</td>
            <td style="text-align: right;font-weight: bold;">{{ getTotalImporte() | number:'1.2-2'}}</td>            
        </tr>
        <tr>
            <td colspan="4" style="text-align: right;">Total General</td>            
            <td style="text-align: right;font-weight: bold;">{{ getTotalAdelanto() + getTotalImporte() | number:'1.2-2'}}</td>            
        </tr>
</table>