<h2 mat-dialog-title>
    <mat-icon>edit_note</mat-icon> {{titulo}}
</h2>
<mat-dialog-content>
    <form [formGroup]="supplierForm">
        <div style="padding: 5px; display: flex; flex-direction: column;">
            <mat-form-field appearance="outline">
                <mat-label>Razon Social</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <div style="display: flex; gap: 10px;">
                <mat-form-field appearance="outline">
                    <mat-label>RUC</mat-label>
                    <input matInput formControlName="ruc">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="phone">
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Direccion</mat-label>
                <input matInput formControlName="address">
            </mat-form-field>
            <div style="display: flex; gap: 10px;">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="status">
                        <mat-option value="A"> Activo </mat-option>
                        <mat-option value="I"> Inactivo </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div style="display: flex; gap: 10px;">
                <mat-form-field appearance="outline">
                    <mat-label>Contacto</mat-label>
                    <input matInput formControlName="contactName">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Contacto Telefono</mat-label>
                    <input matInput formControlName="contactPhone">
                </mat-form-field>
            </div>


        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions style="display: flex; justify-content: space-evenly;">

    <button mat-fab extended (click)="onCancel()">
        <mat-icon style="color: red;">cancel</mat-icon>
        Cancelar
    </button>

    <!-- 
    <button mat-button (click)="onSubmit()" [disabled]="clienteForm.invalid">Guardar</button> -->

    @if(loadingSave){
    <button mat-fab extended>
        <div style="display: flex; gap: 5px;">
            <app-loading></app-loading>
            Grabando...
        </div>
    </button>
    }

    @if(!loadingSave){
    <button mat-fab extended (click)="onSubmit()">
        <mat-icon>save</mat-icon>
        Grabar
    </button>
    }

</mat-dialog-actions>