<div class="container-report">

    <div style="display: flex; flex-direction: column;">

        <div class="tituloPrin">
            Lavanderia Kyo
        </div>
        <div class="subtitulo">
            <!-- Carlos Javier Bazan Huaman<br> -->
            <!-- Ruc: 10436190455<br> -->
            Av. Bocanegra Mz. H Lt 19 Los Jazmines - Callao<br>
            (01) 635-8458 / 934-984-123<br>
            Horario Atencion Lunes a Sabado 08:00AM - 08:00PM<br>
            www.lavanderiakyo.com<br>
        </div>

    </div>

    <hr>
    <!-- <div class="row">
        <div class="col-12 text-center">
          ------------------------------------------------------------
        </div>
      </div> -->


    <div class="detalle">
        <div class="col-4">
            <div style="padding-top: 5px;">
                <div class="text-left align-items-center">
                    GUIA_N°:
                </div>
            </div>
        </div>
        <div class="col-8">
            <span class="numguia">{{store.selectedDocumento()?.serieDoc }}-{{
                store.selectedDocumento()?.numeroDoc}}</span>
        </div>
    </div>

    <div class="detalle">
        <div class="col-4">
            <div style="text-align: left;">
                FECHA:
            </div>
        </div>
        <div class="col-8">
            {{ store.selectedDocumento()?.fechaEmision | date :'dd/MM/yyyy hh:mm:ss' }}
            <!-- {{getHour()}} -->
        </div>

    </div>
    <div class="detalle">
        <div class="col-4">
            <div style="text-align: left;">
                CLIENTE:
            </div>
        </div>
        <div class="col-8">
            {{ store.selectedCliente()?.nombre | uppercase }}
        </div>
    </div>
    <div class="detalle">
        <div class="col-4">
            <div style="text-align: left;">
                TELEFONO:
            </div>
        </div>
        <div class="col-8">
            {{ store.selectedCliente()?.telefono }}
        </div>
    </div>

    <div class="detalle">
        <div class="col-4">
            <div style="text-align: left;">
                ENTREGA:
            </div>
        </div>
        <div class="col-8">
            <div class="detalle">
                {{ store.selectedDocumento()?.fechaEntrega | date :'dd/MM/yyyy hh:mm:ss'}}<br>
            </div>
        </div>
    </div>

    <div class="detalle">
        <div class="col-4">
            <div style="text-align: left;">
                CAJA:
            </div>
        </div>
        <div class="col-8">
            <div class="detalle">
                {{ store.selectedUser() }}
            </div>
        </div>
    </div>

    <hr>


    <div class="tituloTablaDet">
        <div class="titulo" style="width: 17%;">
            Cant.
        </div>
        <div class="titulo" style="width: 50%; text-align: center;">
            Descripcion
        </div>
        <div class="titulo" style="width: 17%; text-align: left;">
            P.unit
        </div>
        <div class="titulo" style="width: 17%; text-align: right;">
            Total
        </div>
    </div>


    <div class="detalle filaTablaDet" *ngFor="let item of store.items()">
        <div style="width: 17%;">{{ item.Cant| number:'1.2-2' }} <br> {{item.Identificador}} </div>
        <div style="width: 50%;" *ngIf="item.Obs">{{ item.nomProd }}, {{ item.Obs }}</div>
        <div style="width: 50%;" *ngIf="!item.Obs">{{ item.nomProd }}</div>
        <div style="width: 17%;text-align: right;">{{ item.Precio | number:'1.2-2' }}</div>
        <div style="width: 17%;text-align: right;">{{ item.Subtotal| number:'1.2-2' }}</div>
    </div>


    <div class="detalle">
        <div style="text-align: right; width: 80%;">
            <!-- <div *ngIf="bol_cancelado">
                    *** CANCELADO *** Total:S/
                </div> -->
            <div>
                Total:S/
            </div>
        </div>
        <div style="text-align: right; width: 20%;">{{ this.total| number:'1.2-2' }}</div>
    </div>

    <div class="detalle">
        <div style="text-align: right; width: 80%;">
            @switch (tipoPago) {
            @case ('QR') {
            YAPE |
            }
            @case ('EF') {
            EFECTIVO |
            }
            @case ('TA') {
            TARJETA |
            }
            @default {

            }
            }
            A Cuenta:S/
        </div>
        <div style="text-align: right; width: 20%;">{{ this.adelanto | number:'1.2-2' }}</div>
    </div>

    <div class="detalle">
        <div style="text-align: right; width: 80%;">Saldo:S/</div>
        <div style="text-align: right; width: 20%;">{{ saldo | number:'1.2-2' }}</div>
    </div>

    <div class="detalle" *ngIf="bol_cancelado">
        <div class="txtCancelado">
            *** CANCELADO ***
        </div>
    </div>

    <div class="detalle" *ngIf="isDelivery">
        <div class="txtDelivery">
            ----- DELIVERY -----
        </div>
    </div>

    <hr>

    <div class="glosa1">
        <b>Despues de 90 dias </b>vence el plazo de entrega,
        si el cliente no retira sus prendas la lavanderia podra disponer de estas.
    </div>
    <hr>
    <div class="titulo" style="text-align: center;">
        GRACIAS POR SU PREFERENCIA
    </div>


    <hr>

    <div class="titulo" style="text-align: center; padding-top: 50px;">
        --------------------------------------------<br>
        CONTROL ADMINISTRATIVO<br>
        --------------------------------------------
    </div>


    <div class="detalle" style="display: flex;">
        <div style="text-align: left; width: 40%;">
            <span class="numguia">{{ store.selectedDocumento()?.numeroDoc }}</span>
        </div>
        <div style="width: 60%;">{{ store.selectedDocumento()?.fechaEmision | date :'dd/MM/yyyy hh:mm:ss'}}
        </div>
    </div>

    <div class="detalle">
        {{ store.selectedCliente()?.nombre }} / {{ store.selectedCliente()?.telefono }}
    </div>


    <div class="tituloTablaDet">
        <div class="titulo" style="width: 17%;">
            Cant.
        </div>
        <div class="titulo" style="width: 50%; text-align: center;">
            Descripcion
        </div>
        <div class="titulo" style="width: 17%; text-align: left;">
            P.unit
        </div>
        <div class="titulo" style="width: 17%; text-align: right;">
            Total
        </div>
    </div>
    <div class="detalle filaTablaDet" *ngFor="let item of store.items()">
        <div style="width: 17%;">{{ item.Cant| number:'1.2-2' }} <br> {{item.Identificador}}</div>
        <div style="width: 50%;" *ngIf="item.Obs">{{ item.nomProd }}, {{ item.Obs }}</div>
        <div style="width: 50%;" *ngIf="!item.Obs">{{ item.nomProd }}</div>
        <div style="width: 17%;text-align: right;">{{ item.Precio | number:'1.2-2' }}</div>
        <div style="width: 17%;text-align: right;">{{ item.Subtotal| number:'1.2-2' }}</div>
    </div>

    <div class="detalle">
        <div style="text-align: right; width: 80%;">
            <!-- <div *ngIf="bol_cancelado">
                    *** CANCELADO *** Total:S/
                </div> -->
            <div>
                Total:S/
            </div>
        </div>
        <div style="text-align: right; width: 20%;">{{ total | number:'1.2-2' }}</div>
    </div>

    <div class="detalle">
        <div style="text-align: right; width: 80%;">
            @switch (tipoPago) {
            @case ('QR') {
            YAPE |
            }
            @case ('EF') {
            EFCTIVO |
            }
            @case ('TA') {
            TARJETA |
            }
            @default {

            }
            }
            A Cuenta:S/</div>
        <div style="text-align: right; width: 20%;">{{ adelanto | number:'1.2-2' }}</div>
    </div>

    <div class="detalle">
        <div style="text-align: right; width: 80%;">Saldo:S/</div>
        <div style="text-align: right; width: 20%;">{{ saldo | number:'1.2-2' }}</div>
    </div>

    <div class="detalle" *ngIf="bol_cancelado">
        <div class="txtCancelado">
            *** CANCELADO ***
        </div>
    </div>

    <div class="detalle" *ngIf="isDelivery">
        <div class="txtDelivery">
            ----- DELIVERY -----
        </div>
    </div>
    <!-- <div>
            {{ store.selectedUser() }}
        </div> -->
    <div class="titulo" style="text-align: center; padding-top: 50px; height: 100px;">
        {{ store.selectedUser() }}<br>
        --------------------------------------------<br>
        CONTROL ADMINISTRATIVO<br>
        --------------------------------------------
    </div>

    <div style="width: 100%; text-align: center; padding-top: 10px; font-size: 18pt;">
        {{ store.selectedCliente()?.nombre | uppercase }}
    </div>

    @if(store.selectedBolsa()){
    <div class="titulo"
        style="width: 100%; text-align: center; padding-top: 40px; height: 60px; font-size: 30px; border: 1px solid black; border-radius: 5px;">
        {{ store.selectedCliente()?.nombre | uppercase }}<br>
    </div>
    }

</div>