<h2 mat-dialog-title> {{dataInput.inTitulo}} </h2>
<mat-dialog-content class="mat-typography">

    <div style="display: flex; margin-top: 10px;">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>
                @if(dataInput.inEsPeso){
                Peso KG.
                }@else{
                Cantidad
                }
            </mat-label>
            <input (keydown.enter)="calcularPrecio()" matInput placeholder="peso en kilogramos" type="number"
                [(ngModel)]="pesoKg">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>
                Precio
                @if(dataInput.inEsPeso){
                x KG.
                }
            </mat-label>
            <input (keydown.enter)="calcularPrecio()" matInput placeholder="precio por kg" type="number"
                [(ngModel)]="precioKg">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Total soles</mat-label>
            <input (keydown.enter)="calcularPeso()" (blur)="calcularPesoBlur()"  md-select-on-focus matInput placeholder="total" type="number"
                [(ngModel)]="total" #publicTotalBox>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Observaciones</mat-label>
            <textarea matInput placeholder="comentarios" [(ngModel)]="obs"></textarea>
        </mat-form-field>
    </div>
    <div style="display: flex;gap: 20px;">
        <button mat-raised-button (click)="cerrar()">
            <mat-icon fontIcon="close"></mat-icon>
            Cerrar
        </button>
        <button mat-flat-button (click)="registrarYcerrar()" class="example-full-width">
            <mat-icon fontIcon="done_all"></mat-icon>
            Registrar
        </button>


    </div>


</mat-dialog-content>

<!-- <mat-dialog-actions align="end">
    
 
</mat-dialog-actions> -->