<h2 mat-dialog-title>
    <mat-icon>edit_note</mat-icon> {{titulo}}
</h2>
<mat-dialog-content>
    <form [formGroup]="ubicacionForm">
        <div style="padding: 5px; display: flex; flex-direction: column;">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Descripcion</mat-label>
                <input matInput formControlName="descripcion">
            </mat-form-field>            
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions style="display: flex; justify-content: space-evenly;">

    <button mat-fab extended (click)="onCancel()">
        <mat-icon style="color: red;">cancel</mat-icon>
        Cancelar
    </button>

    <!-- 
    <button mat-button (click)="onSubmit()" [disabled]="clienteForm.invalid">Guardar</button> -->

    @if(loadingSave){
    <button mat-fab extended>
        <div style="display: flex; gap: 5px;">
            <app-loading></app-loading>
            Grabando...
        </div>
    </button>
    }

    @if(!loadingSave){
    <button mat-fab extended (click)="onSubmit()">
        <mat-icon>save</mat-icon>
        Grabar
    </button>
    }

</mat-dialog-actions>